<h1> New Plan</h1>

<%= form_tag "/plans", method: :patch do %>
  <div>
    Day: <input type="text" name="day">
  </div>
  <div>
    Activity: <input type="text" name="activity">
  </div>
  <div>
    Time: <input type="text" name="time">
  </div>
  <div>

  <input type="submit" name="Schedule an activity"
  </div>
<% end %>